
<app-menu></app-menu>
<div class="container">
    <div class="form-container">
        <h2>Cadastro de Produtos</h2>
        <form>
        <div class="info">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Preco</label>
                <input type="text" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label for="fabricant">Fabricante</label>
                <input type="text" id="fabricant" name="fabricant" required>
            </div>
            <div class="form-group">
                <label for="desc">Descricao</label>
                <input type="text" id="desc" name="desc" required>
            </div>
            <div class="form-group">
                <label for="type">Tipo</label>
                <select id="type" name="type" required>
                  <option value="">Selecione</option>
                  </select>
            </div>
            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
        </div>
        </form>
        
</div>
<div class="relatorio">
    <h3 class="mt-5"> Relatorio dos Produtos</h3>
<table class="table">
<thead>
<tr>
  <th class="acao">Acao</th>
  <th>ID</th>
  <th>Nome</th>
  <th>Sobrenome</th>
  <th>Telefone</th>
  <th>Email</th>
  <th>Tipo</th>
</tr>
</thead>
<tbody>
<tr>
  <td>
    <button>Editar</button>
    <button>Excluir</button>
  </td>
  <td>1</td>
  
</tr>
<tr>
  <td>
    <button>Editar</button>
    <button>Excluir</button>
  </td>
  <td>2</td>
 
</tr>
</tbody>
</table>
</div> 
</div>



