
<app-menu></app-menu>
<div class="container">
    <div class="form-container">
        <h2>Cadastro de Usuarios</h2>
        <form>
        <div class="info">
            <div class="form-group">
                <label for="first-name">Usuario</label>
                <input type="text" id="user" name="user" required>
            </div>
            <div class="form-group">
                <label for="first-name">Nome</label>
                <input type="text" id="first-name" name="first-name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Sobrenome</label>
                <input type="text" id="last-name" name="last-name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Telefone</label>
                <input type="phone" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="address">Endereco</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="birthdate">Data de Nascimento</label>
                <input type="date" id="birthdate" name="birthdate" required>
            </div>
            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
        </div>
        </form>
        
</div>
<div class="relatorio">
    <h3 class="mt-5"> Relatorio dos Usuarios</h3>
<table class="table">
<thead>
<tr>
  <th>Ação</th>
  <th>ID</th>
  <th>Nome</th>
  <th>Sobrenome</th>
  <th>Telefone</th>
  <th>Email</th>
  <th>Tipo</th>
</tr>
</thead>
<tbody>
<tr>
  <td>
    <button>Editar</button>
    <button>Excluir</button>
  </td>
  <td>1</td>
  <td>Henrique Hack</td>
  <td>Da Silva</td>
  <td>123456789</td>
  <td>henriqeh.com</td>
  <td>Admin</td>
</tr>
<tr>
  <td>
    <button>Editar</button>
    <button>Excluir</button>
  </td>
  <td>2</td>
  <td>Lautrec</td>
  <td>de Carim</td>
  <td>012345678</td>
  <td>Lautrec.com</td>
  <td>Usuário</td>
</tr>
</tbody>
</table>
</div> 
</div>



