<div class="fundo">
  <section class="login-container">
    <h2>Login</h2>
    <form [formGroup]="formulario" class="login-form">
      <input
        type="login"
        id="login"
        placeholder="Digite seu nome de usuario"
        required
        formControlName="login"
      />
      <input
        type="password"
        id="password"
        placeholder="Digite sua senha"
        required
        formControlName="senha"
      />
      <button type="submit" class="login-button" (click)="onlogin()">Entrar</button>
    </form>
  </section>
</div>
