.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/img/1347167.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  background: url("/assets/img/MENU_BloodMessageList.png");
  width: 560px;
  height: 351px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;

  .login-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;

    .login-button {
      padding: 0.75rem;
      border: none;
      align-items: center;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.form-group {
  margin-bottom: 1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    width: 100px;
    margin-left: -100px;
  }

  input {
    width: 300px;
    padding: 0.75rem;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}

.login-button {
  width: 220px;
  height: 60px;
  margin-top: 20px;
}

h2 {
  font-size: 2.5em;
}
