.container {
 padding: 20px;
 border-radius: 8px;
}



.Espadas{
    width:calc(100% - 20px);
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: calc(100% - 20px);
    align-items: center;
}

.grid-item {
    height: 300px;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    height: 50%;
    max-width: 100%; 
    max-height: 100%;
}

.grid-item:hover {
    transform: translateY(-5px);
}

button{
    margin-left: 40px;
}
.login-button{
   margin-right: 70px;
   margin-top: 1px;
}
