.container {
    position:absolute;
    left:0;
    top:0;
    overflow-y: scroll;
    width: 100vw;
 height: 100vh;
 background-image: url('/assets/img/1.jpg');
 display: flex;
 flex-direction: column;
 align-items: center;
}
header {
    margin-bottom: 40px;
}
.catalogo {
    width:80%;
    background-color: rgba(0,0,0,0.5);
    padding:30px;
    border-radius: 10%;
    h1 {
        text-align: center;
    }
}
.abas {
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: calc(100% - 20px);
    align-items: center;
}

.grid-item {
    height: 300px;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    height: 50%;
    max-width: 100%; 
    max-height: 100%;
}

.grid-item:hover {
    transform: translateY(-5px);
}

button{
    margin-left: 40px;
}
.login-button{
   margin-right: 70px;
   margin-top: 50px;
}

.search-button {
    margin-top: 50px;
}
.search-bar {
    margin-left: 790px;
    margin-top: 50px;
}
.divisor {
    margin-top: 30px;
    margin-left: 320px;
    margin-bottom: 30px;
}
