
<div class="container"></div>
  <header>
      <div class="header-actions">
        <input type="text" placeholder="Pesquisar produtos..." class="search-bar">
        <button class="search-button">Pesquisar</button>
      </div>
      <button class="login-button" routerLink="/login">Login</button>
  </header>

<div class="catalogo">
  <h1>Catalogo de Armas</h1>
  <div class="abas">
    <button>Espadas</button> <button>Machados</button> <button>Escudos</button>
  </div>
  <div class="conteudo">
    <div>
      <article>
      <h2>Espadas</h2>
      <section class="Espadas">
        <div class="grid-container">
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01013.PNG" alt="Espada 1">
            <p>Espada Reta</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01059.PNG" alt="Espada 2">
          <p>Flamberge</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01041.PNG" alt="Espada 3">
          <p>Katana</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01047.PNG" alt="Espada 4">
          <p>Claymore</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01049.PNG" alt="Espada 5">
          <p>Zweihander</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01055.PNG" alt="Espada 6">
          <p>Grande Espada de Lothric</p>
          </div>
        </div>
      </section>
      <article>
    <div>
    <div>
      <h2>Machados</h2>
      <section class="Machados">
        <div class="grid-container">
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01071.PNG" alt="Machado 2">
          <p>Machado</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01072.PNG" alt="Machado 6">
          <p>Machado de Batalha</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01079.PNG" alt="Machado 3">
          <p>Machado Matador de Dragoes</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01166.PNG" alt="Machado 4">
          <p>Machado Duplo dos Cavaleiros Alados</p>
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01076.PNG" alt="Machado 5">
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_01082.PNG" alt="Machado 1">
          </div>
        </div>
      </section>
    </div>
    <div>
      <h2>Escudos</h2>
      <section class="Escudos">
        <div class="grid-container">
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02000.PNG" alt="Escudo 6">
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02052.PNG" alt="Escudo 3">
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02011.PNG" alt="Escudo 1">
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02020.PNG" alt="Escudo 2">
          </div>
          
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02055.PNG" alt="Escudo 4">
          </div>
          <div class="grid-item">
            <img src="/assets/img/MENU_Knowledge_02064.PNG" alt="Escudo 5">
          </div>
          
        </div>
      </section>
    </div>
  </div>
