<section>
    <img src="/assets/img/logo2.png" alt="">
    <nav>
        <details>
            <summary>Inicio</summary>
            <div>
            <a class="nav-item" routerLink="/catalogo">Catalogo</a>
            <a class="nav-item" routerLink="/login">Login</a>
            </div>
        </details>
       
        <details>
            <summary>Administracao</summary>
            <div>
                <a class="nav-item" routerLink="/cadUsuario">Cadastro de Usuarios</a>
            </div>
        </details>

        <details>
            <summary>Produtos</summary>
            <div>
                <a class="nav-item" routerLink="/cadProduto">Cadastrar Produtos</a>
                <a class="nav-item" routerLink="/analytics">Movimentar Produtos</a>
            </div>
        </details>
    </nav>
    
</section>