//Importando fontes

@font-face {
  font-family: optprinceps;
  src: url("/assets/fonts/OptimusPrinceps.ttf");
}
html {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: optprinceps;
  color: #bd9955;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url("/assets/img/7.png");
  background-size: cover;
  background-position: 0px -410px;
  
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input:not([type=date]) {
  background-image: url("/assets/img/MENU_PC_TextInput.png");
  background-color: transparent;
  background-position: 50% 45%;
  border: 0px;
  padding: 10px 20px;
  background-size: cover;
  margin-left: 10px;
  width: 300px;
  height: 20px;
  color: white;
  font-family: optprinceps;
  font-size: 17 px;
  &:focus {
    outline: 0;
  }
}

input[type=date] {
  background-image: url('/assets/img/4.png');
  background-color: transparent;
  background-position: 50% 45%;
  border: 0px;
  padding: 10px 20px;
  background-size: cover;
  margin-left: 10px;
  width: 150px;
  height: 20px;
  color: white;
  font-family: optprinceps;
  font-size: 17 px;
  &:focus {
    outline: 0;
  }
}

select {
  background-image: url('/assets/img/4.png');
  background-color: transparent;
  background-position: 50% 45%;
  border: 0px;
  padding: 10px 20px;
  background-size: cover;
  margin-left: 10px;
  width: 180px;
  height: 50px;
  color: white;
  font-family: optprinceps;
  font-size: 17 px;
  &:focus {
    outline: 0;
}
}
option {
  background-color: black;
  
}

button {
  background-color: transparent;
  background-image: url("/assets/img/MENU_IconHelp.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;

  padding: 15px 40px;
  width: 156px;
  font-size: 16px;
  color: #d1d1d1;
  cursor: pointer;
  transition: opacity 0.3s;
  font-family: optprinceps;
  &:hover {
    transform: scale(1.2);
    color: #bd9955;
    font-family: optprinceps;
  }
  &:active {
    transform: scale(0.9);
  }
}
.grid-item {
  background-image: url("/assets/img/MENU_Dish.PNG");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: 20%;
}
